<div id="home">
	<div class="container">
	<%= form_tag "/menus", method: 'get' do %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 mainsection">
				<% if session[:user_id].present? %>
				<h1 class="mainheader">Where are we eating <%= User.find_by(id: session[:user_id]).name %>?</h1>
				<% else %>
				<h1 class="mainheader">Where are we eating?</h1>
				<% end %>
			<br>
			<br>
			<form role="form" class="main_form">
			  <div class="form-group">
			    <h2 class="homelabel"><%= label_tag :zipcode, "Zip Code" %></h2>
			    <input type="text" Name="zip" SIZE="5" MAXLENGTH="5" class="form-control" id="zipcode" >
			  </div>
			  <br>
			  <div class="form-group">
			    <h2 class="homelabel"><%= label_tag :calories, "Maximum Calories" %></h2>
			 	<div class="slider">
				  <input type = "range" min="0" max="1500" name="calories" onchange="rangevalue.value=value"/>
				  <span class="highlight"></span>
					<output id="rangevalue">750</output>
				</div>
				 <!--  <h2 class="homelabel"><%= label_tag :fat, "Maximum Fat (g)" %></h2>
			 	<div class="slider">
				  <input type = "range" min="0" max="70" name="fat" onchange="rangevaluefat.value=value"/>
				  <span class="highlight"></span>
					<output id="rangevaluefat">35</output>
				</div> -->
				<h2 class="homelabel"><%= label_tag :category, "Category" %></h2>

				<select class="selectpicker" multiple title='Choose one of the following...'>
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>




				<!-- <div class="chosen-container chosen-container-multi" multiple style="width: 550px;">
					<select data-placeholder='Select a category..' class="chosen-select" multiple style="width: 550px; display: none;" tabindex='-1'>
							<% @menus.order("category").each.to_a.uniq! do |item| %>
    						<option value=<% @menus.each do |item| %>
	    						<% item.category %>
	    						<% end %> class="chosen">
	    						<%= item.category %>
	    						<% end %>
    						</option>
    			</select>
    		</div> -->
    		
			    	<p class="buttonsubmit">
					 <button type="submit" class="btn btn-primary btn-lg homepagebutton">Search</button>
					</p>
					<% if session[:user_id].present? %>
					<p class="navlinkshome"><%= link_to "Sign Out", '/logout' %></p>
					<% else %>
					<p class="navlinkshome"><%= link_to 'Sign In |', '/login' %><%= link_to ' Register', '/users/new' %></p>
					<% end %>
					<br>
					
			  </div>
			</form>
		</div>
	</div>
	<% end %>
	</div>
</div>