<div id="sortpage">
<!-- <h1 class="foodheader">Meals near you</h1><br> -->
  <div class="container">
	<div class="row">
		<p class="paramslist" class="col-md-6">Showing food items with maximum <span id="foodpagecalories"><strong><%= params[:calories] %> calories</strong></span>  
			<!-- and <span id="foodpagefat"><strong><%= params[:fat] %> (g) of fat</strong></span>  -->
			in <span id="foodpagezip"><strong><%= params[:zip] %></strong></span>&emsp;<span class="editbutton"><%= link_to 'Edit', root_url %></span></p>
			<div class="randombox">
				<div class="randomcontent">
					<p class="random" id="randomitem"><%= @random.item %><br></p>
					<p class="random" id="randomcalories"><%= @random.calories %> calories<br></p>
					<p class="random" id="randomcategory"><%= @random.category %></p>
					Or <a href="/menus" id="refresh">pick something random for me</a>
				</div>
			</div>
	</div><!--end row-->

		<div class="controls">
			<ul>
				 <li class="filter" data-filter="all">Show all</li>
				<% @categories.each do |category| %>
			    <li class="filter" data-filter="<%= category.name %>"><%= category.name %></li>
			    <% end %>
			</ul>
		</div>
<!-- 		<div class="controls">
			<ul>
			    <li class="sort" data-sort="data-cat" data-order="desc">Descending</li>
			    <li class="sort" data-sort="data-cat" data-order="asc">Ascending</li>
			    <li class="sort" data-sort="default" data-order-"desc">Default</li>
			</ul>
		</div> -->
		<ul id="Grid" style="   ">
			<% @menus.each do |food| %>
			<li class="mix <%= food.category %> mix_all" data-cat="<%= food.category %>" style="  display: inline-block; opacity: 1;"><%= food.item %></li>
			<% end %>
<!-- 			<li class="mix category_1 mix_all" data-cat="1" style="  display: inline-block; opacity: 1;">1</li>
			<li class="mix category_2 mix_all" data-cat="2" style="  display: inline-block; opacity: 1;">2</li>
			<li class="mix category_2 mix_all" data-cat="2" style="  display: inline-block; opacity: 1;">2</li>
			<li class="mix category_3 mix_all" data-cat="3" style="  display: inline-block; opacity: 1;">3</li>
			<li class="mix category_3 mix_all" data-cat="3" style="  display: inline-block; opacity: 1;">3</li> -->
			<li class="gap"></li>
		</ul>
  </div><!--end container-->
</div><!--end sortpage-->

