<div id="sortpage">
<!-- <h1 class="foodheader">Meals near you</h1><br> -->
  <div class="container">
	<div class="row">
		<p class="paramslist" class="col-md-6">Showing food items with maximum <span id="foodpagecalories"><strong><%= params[:calories] %> calories</strong></span>  
			<!-- and <span id="foodpagefat"><strong><%= params[:fat] %> (g) of fat</strong></span>  -->
			in <span id="foodpagezip"><strong><%= params[:zip] %></strong></span>&emsp;<span class="editbutton"><%= link_to 'Edit', root_url %></span></p>
			<div class="randombox">
				<div class="randomcontent">
					<p class="random" id="randomitem"><%= @random.item %><br></p>
					<p class="random" id="randomcalories"><%= @random.calories %> calories<br></p>
					<p class="random" id="randomcategory"><%= @random.category %></p>
					Or <a href="/menus" id="refresh">pick something random for me</a>
				</div>
			</div>
	</div><!--end row-->
  </div><!--end container-->
</div><!--end sortpage-->

