<div id="sortpage">
<div class="header-image"></div>
  <div class="container">

	<div class="row">
		<p class="paramslist" class="col-md-6">Showing <span id="foodpagecategory">
			<select class="selectpicker" name="category" >
				<option value="<%= params[:category].capitalize %>"><%= params[:category].capitalize %></option>
				<% @categories.each do |category| %>
				<option><%= category.name %></option>
				<% end %>
			</select>
			</span> with maximum <span id="foodpagecalories"><%= params[:calories] %> calories</span> 
			<!-- and <span id="foodpagefat"><%= params[:fat] %> (g) of fat</span>  -->
			near <span id="foodpagezip"><%= params[:zip] %></span><span class="editbutton"><%= link_to 'Edit', root_url %></span></p>
			<div class="randombox">
				<div class="randomcontent">
					<p class="random" id="randomitem"><%= @random.item %><br></p>
					<p class="random" id="randomcalories"><%= @random.calories %> calories<br></p>
					<p class="random" id="randomcategory"><%= @random.category %></p>
					Or <a href="/menus" id="refresh">pick something random for me</a>
				</div>
			</div>
	</div><!--end row-->

		<div class="controls">
			<ul>
				 <li class="filter" data-filter="all"><em>Show all</em></li>
				<% @categories.each do |category| %>
			    <li class="filter" data-filter="<%= category.name %>"><%= category.name %></li>
			    <% end %>
			</ul>
		</div>
		<hr class="line">
		<!--<div class="controls">
			<ul>
			    <li class="sort" data-sort="data-cat" data-order="desc">Descending</li>
			    <li class="sort" data-sort="data-cat" data-order="asc">Ascending</li>
			    <li class="sort" data-sort="default" data-order-"desc">Default</li>
			</ul>
		</div> -->
		<ul id="Grid" style="   ">
			<% @menus.each do |food| %>
			<li class="mix <%= food.category %> mix_all" data-cat="<%= food.category %>" style="  display: inline-block; opacity: 1;"><i class="fa fa-heart"></i> <%= food.item %> <span class="restaurant-name"><%= food.restaurant %></span><i class="fa fa-angle-double-right"></i></li>
			<% end %>
<!-- 			<li class="mix category_1 mix_all" data-cat="1" style="  display: inline-block; opacity: 1;">1</li>
			<li class="mix category_2 mix_all" data-cat="2" style="  display: inline-block; opacity: 1;">2</li>
			<li class="mix category_2 mix_all" data-cat="2" style="  display: inline-block; opacity: 1;">2</li>
			<li class="mix category_3 mix_all" data-cat="3" style="  display: inline-block; opacity: 1;">3</li>
			<li class="mix category_3 mix_all" data-cat="3" style="  display: inline-block; opacity: 1;">3</li> -->
			<li class="gap"></li>
		</ul>
  </div><!--end container-->
</div><!--end sortpage-->

