<div id="sortpage">
<!-- <h1 class="foodheader">Meals near you</h1><br> -->
<p class="paramslist">Currently displaying food items with maximum <span id="calories"><strong><%= params[:calories] %></strong></span> calories and <strong><%= params[:fat] %> (g) of fat</strong> in <span id="editable" contenteditable="true" class="editablelink"><strong><%= params[:zip] %></strong></span>&emsp;<%= link_to 'Edit', root_url %></p>

<!-- <p><%= link_to 'Add a New Menu', new_menu_url %></p> -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="filterbox">
      <h2 class="filter">Filter <span class="glyphicon glyphicon-filter filtericon"></span></h2>
        <div class="browse">
          <h3 id="filterheader">Food Type</h3>
          <div id="checkboxes">
            <div class="checkbox"><input type="checkbox" id="a"><label for="a" class="checkboxname">Bakery</label></div>
            <div class="checkbox"><input type="checkbox" id="b"><label for="b" class="checkboxname">BBQ</label></div>
            <div class="checkbox"><input type="checkbox" id="c"><label for="c" class="checkboxname">Brazilian</label></div>
            <div class="checkbox"><input type="checkbox" id="d"><label for="d" class="checkboxname">Breakfast</label></div>
            <div class="checkbox"><input type="checkbox" id="e"><label for="e" class="checkboxname">Burgers</label></div>
            <div class="checkbox"><input type="checkbox" id="f"><label for="f" class="checkboxname">Chinese</label></div>
            <div class="checkbox"><input type="checkbox" id="g"><label for="g" class="checkboxname">Coffee/Tea</label></div>
            <div class="checkbox"><input type="checkbox" id="h"><label for="h" class="checkboxname">Desserts</label></div>
            <div class="checkbox"><input type="checkbox" id="i"><label for="i" class="checkboxname">Greek</label></div>
            <div class="checkbox"><input type="checkbox" id="j"><label for="j" class="checkboxname">Hot Dogs/Sausages</label></div>
            <div class="checkbox"><input type="checkbox" id="k"><label for="k" class="checkboxname">Indian</label></div>
            <div class="checkbox"><input type="checkbox" id="l"><label for="l" class="checkboxname">Italian</label></div>
            <div class="checkbox"><input type="checkbox" id="m"><label for="m" class="checkboxname">Japanese</label></div>
            <div class="checkbox"><input type="checkbox" id="n"><label for="n" class="checkboxname">Mexican</label></div>
            <div class="checkbox"><input type="checkbox" id="o"><label for="o" class="checkboxname">Middle Eastern</label></div>
            <div class="checkbox"><input type="checkbox" id="p"><label for="p" class="checkboxname">Noodles</label></div>
            <div class="checkbox"><input type="checkbox" id="q"><label for="q" class="checkboxname">Pizza</label></div>
            <div class="checkbox"><input type="checkbox" id="r"><label for="r" class="checkboxname">Salad</label></div>
            <div class="checkbox"><input type="checkbox" id="s"><label for="s" class="checkboxname">Sandwiches/Subs/Wraps</label></div>
            <div class="checkbox"><input type="checkbox" id="t"><label for="t" class="checkboxname">Seafood</label></div>
            <div class="checkbox"><input type="checkbox" id="u"><label for="u" class="checkboxname">Steakhouse</label></div>
            <div class="checkbox"><input type="checkbox" id="v"><label for="v" class="checkboxname">Tapas</label></div>
            <div class="checkbox"><input type="checkbox" id="w"><label for="w" class="checkboxname">Thai</label></div>
            <div class="checkbox"><input type="checkbox" id="x"><label for="x" class="checkboxname">Vegetarian</label></div>
          </div> 
        </div>
        </div><!--end filterbox-->
      </div><!--end col-md-3-->
    <div class="col-md-9">
          <div class="nearyoubox">
          <h2 class="nearyou">Meals near you <span class="glyphicon glyphicon-map-marker mapmarker"></span></h2>
          </div>
      <div class="listtable">
        <% @menus.each do |menu| %>
          <div class="listitemsall">
           <!--<%= link_to 'X', menu_url(menu), method: 'delete', :class => "listitem delete"%>-->
           <p class="listitem" id="listitemrest"><%= menu.restaurant_id %></p>
           <div class="listofitems"><p class="listitem" id="listitemname"><%= menu.item %></p>
           <p class="listitem listitemother">Calories: <%= menu.calories %></p>
           <p class="listitem listitemother">Fat (g): <%= menu.fat %></p>
           <p class="listitem listitemother"><%= menu.category %></p></div>
          </div>
        <% end %>
      </div>
         <% if @menus.empty? %> 
         <p>No Item Found</p>
        <% end %>
       <!--      <td><%#= menu.price %></td> -->
        
            <td><%#= link_to #'Show', menu_url(menu) %></td>
            <td><%#= link_to 'Edit', edit_menu_url(menu) %></td>
            <td><%#= link_to 'Destroy', menu_url(menu), method: 'delete', data: { confirm: "Do you really want to delete this menu?" } %></td>
    </div>
  </div>
    <div id="foodpagefooter">
       <div class="col-md-6 col-md-offset-3">
        
      </div>
    </div>
</div>

