<h1>Menu #<%= @menu.id %></h1>

<p>
  <b>Restaurant:</b>
  <%= @menu.restaurant_id %>
</p>

<p>
  <b>Item:</b>
  <%= @menu.item %>
</p>

<p>
  <b>Calories:</b>
  <%= @menu.calories %>
</p>

<p>
  <b>Fat:</b>
  <%= @menu.fat %>
</p>

<!-- <p>
  <b>Price:</b>
  <%= @menu.price %>
</p> -->


