<div class="container">
  <div class="col-md-6 col-md-offset-3", id ="form-div">
    <h1>Update profile</h1>
    <%= form_for(@user) do |f| %>

    <div>
      <%= f.label :name, "Name" %><br />
      <%= f.text_field :name, class: 'feedback-input form-control' %>
    </div>

    <div>
      <%= f.label :email %><br />
      <%= f.text_field :email, class: 'feedback-input form-control' %>
    </div>
  
    <div class="submit">
      <%= f.submit "Update User", class: "feedback-input button-blue btn btn-default" %>
      <div class="ease"></div>
    </div>

    <% end %>
  </div>
</div>
