<h1>Restaurants</h1>

<p><%= link_to 'Add a New Restaurant', new_restaurant_url %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Cuisine</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>



  <tbody>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.location %></td>
      <td><%= restaurant.cuisine %></td>
  
      <td><%= link_to 'Show', restaurant_url(restaurant) %></td>
      <td><%= link_to 'Edit', edit_restaurant_url(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant_url(restaurant), method: 'delete', data: { confirm: "Do you really want to delete this restaurant?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

