<h1>Editing Location #<%= @location.id %></h1>


<%= form_tag(location_url(@location), method: 'patch') do %>

  <div>
    <%= label_tag :address %><br />
    <%= text_field_tag :address, @location.address %>
  </div>

  <div>
    <%= label_tag :latitude %><br />
    <%= text_field_tag :latitude, @location.latitude %>
  </div>

  <div>
    <%= label_tag :longitude %><br />
    <%= text_field_tag :longitude, @location.longitude %>
  </div>

  
  <div>
    <%= submit_tag "Update Location" %>
  </div>

<% end %>
