<h1>New Location</h1>


<%= form_tag(locations_url, method: 'post') do %>


  <div>
    <%= label_tag :address %><br />
    <%= text_field_tag :address %>
  </div>

  <div>
    <%= label_tag :latitude %><br />
    <%= text_field_tag :latitude %>
  </div>

  <div>
    <%= label_tag :longitude %><br />
    <%= text_field_tag :longitude %>
  </div>


  <div>
    <%= submit_tag "Create Location" %>
  </div>
<% end %>
