<!DOCTYPE html>
<html>
<head>
  <title>Where are we eating?</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400|Raleway:400,200|Titillium+Web|Pacifico' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' unless @disable_nav %>
<% flash.each do |key, value| %>
  <!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
<% end %>
<%= yield %>
</body>
</html>
